
$body-bg: #333333;
$body-color: #c6c6c6;

$input-bg: #333333;
$input-disabled-bg: #313131;

$input-color: #c6c6c6;

$list-group-bg: #292929;
$list-group-hover-bg: #343434;
$list-group-active-bg: #353535;
$list-group-action-active-bg: #353535;

$card-color: #c6c6c6;
$card-bg: #292929;

$modal-content-bg: #333333;

@import "../../../node_modules/bootstrap/scss/bootstrap";